@import "font.scss";
@import "colors.scss";

body{
    font-family: 'Roboto Condensed', sans-serif;
    
}

.header{
    background-color: $headerBG;
    min-height: 60px;

    .logo{
        text-align: center;
    }

}


.characterSearch{
    min-height: 300px;
    background: $searchBG;
    color: $white;
    padding: 0 120px;
    .searchBar{

        padding: 70px;

        h1{
            font-weight: 700;
        }

        input{
            width: 100%;
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 1px;
        }

        button{
            width: 15%;
            font-weight: 700;
            float: right;
            border-radius: 1px;
        }
    }
}

.characterList{

    padding-top: 30px;
    .detailParent{
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
    }

    .details{
        padding: 30px 10px 15px 5px;
    }

    .characterPoster{
        img{
            width: 100%;
            min-height: 480px;
            border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

#comics{
    .comicsImg{
        img{
            width: 100%;
            transition: all .2s;
            cursor: pointer;
        }

        img:hover{
            transform: scale(1.2) rotate(-5deg);
            border: 3px solid rgb(216, 50, 50);
            
        }
        h3{
            text-align: center;
            padding-top: 20px;
        }
        p{
            text-align: center;
            padding: 5px;
        }
    }

    .comicsParent{
        margin: 20px 0;
        border-radius: 2px;
        
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
    }

    .footer{
        border-top: 1px solid #bbb0b0;
        padding: 15px !important;
        color: #888;
        background: #f5f4f4;
    }
}

.comicsTitle{
    display: none;
}

 